In this notebook we try to add IMDB ids to the kaggle dataset so we can collect user-created summaries to use as training and testing data to our NN models.  We start with data with cleaned Genres, Director , Cast, and with the CMU data combined.

In [1]:
import pandas as pd
import numpy as np

In [2]:
movie_data= pd.read_csv('../Data/movies_metadata.csv')

/var/folders/3l/cr7__h091lqdwb3svwxf1ty00000gn/T/ipykernel_61253/2061139703.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movie_data= pd.read_csv('../Data/movies_metadata.csv')

In [3]:
list(movie_data.columns.values)

['adult',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count']

In [4]:
movie_data = movie_data.drop(columns = ['adult',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'original_language',
 'original_title',
 'poster_path',
 'production_companies',
 'production_countries',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'video',
 'vote_average',
 'vote_count'])

In [5]:
movie_data.head()

,imdb_id,overview,popularity,release_date,title
0,tt0114709,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,Toy Story
1,tt0113497,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,Jumanji
2,tt0113228,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,Grumpier Old Men
3,tt0114885,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,Waiting to Exhale
4,tt0113041,Just when George Banks has recovered from his ...,8.387519,1995-02-10,Father of the Bride Part II

In [6]:
type(movie_data.loc[0,'release_date'])

str

In [7]:
movie_data = movie_data.dropna()
movie_data = movie_data.rename(columns={'title':"Title", "release_date":"Release Year"})
movie_data["Release Year"] = movie_data["Release Year"].str.replace(r'-.*','',regex = True)
movie_data["Release Year"] = movie_data["Release Year"].astype('int64')

In [8]:
movie_data.head()

,imdb_id,overview,popularity,Release Year,Title
0,tt0114709,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995,Toy Story
1,tt0113497,When siblings Judy and Peter discover an encha...,17.015539,1995,Jumanji
2,tt0113228,A family wedding reignites the ancient feud be...,11.7129,1995,Grumpier Old Men
3,tt0114885,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995,Waiting to Exhale
4,tt0113041,Just when George Banks has recovered from his ...,8.387519,1995,Father of the Bride Part II

In [9]:
todrop = movie_data.loc[movie_data.duplicated(subset = ['Title', 'Release Year'],keep = False)]
len(todrop)

158

In [10]:
movie_data = movie_data.drop(index = todrop.index)

In [11]:
data = pd.read_csv('../Data/wiki_plots_with_genres_c2.csv')
print(len(data))
data2 = data.merge(movie_data, how = 'left', on = ['Title', 'Release Year'])
data2 = data2.drop(columns = ['Unnamed: 0'])
print(len(data2))

33977
33977

In [12]:
from pathlib import Path  
filepath = Path('../Data/wiki_plots_with_genres_c3.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
data2.to_csv(filepath)

Revenue_new and Revenue are  gathered from two different data sets. So they may be different. When Revenue = 0, it may be missing actually.