In this notebook we will work on cleaning the column "Cast" and "Director", and also exploring the column "Origin/Ethnicity". We will be starting with the data with cleaned Genres.

In [1]:
#import packages
import pandas as pd
import numpy as np

# Let's explore the column "Origin/Ethnicity"

In [2]:
#read data
data = pd.read_csv('../Data/wiki_plots_with_genres.csv')
data.head()

,Unnamed: 0,Release Year,Title,Origin/Ethnicity,Director,Cast,Wiki Page,Plot,Genre
0,0,1901,Kansas Saloon Smashers,American,Unknown,NaN,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr...",set()
1,1,1901,Love by the Light of the Moon,American,Unknown,NaN,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov...",set()
2,2,1901,The Martyred Presidents,American,Unknown,NaN,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed...",{'short'}
3,3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...,"{'short', 'comedy', 'silent'}"
4,4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...,{'short'}

In [3]:
#get columns of data
data = data.drop(columns = ['Unnamed: 0'])
data.columns

Index(['Release Year', 'Title', 'Origin/Ethnicity', 'Director', 'Cast',
       'Wiki Page', 'Plot', 'Genre'],
      dtype='object')

In [4]:
data = data.rename(columns= {'Origin/Ethnicity':'Origin'})

In [5]:
data.head()

,Release Year,Title,Origin,Director,Cast,Wiki Page,Plot,Genre
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr...",set()
1,1901,Love by the Light of the Moon,American,Unknown,NaN,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov...",set()
2,1901,The Martyred Presidents,American,Unknown,NaN,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed...",{'short'}
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...,"{'short', 'comedy', 'silent'}"
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...,{'short'}

Let's first look at the "Origin" column.

In [6]:
data.Origin.unique()

array(['American', 'Australian', 'Bangladeshi', 'British', 'Canadian',
       'Chinese', 'Egyptian', 'Hong Kong', 'Filipino', 'Assamese',
       'Bengali', 'Bollywood', 'Kannada', 'Malayalam', 'Marathi',
       'Punjabi', 'Tamil', 'Telugu', 'Japanese', 'Malaysian', 'Maldivian',
       'Russian', 'South_Korean', 'Turkish'], dtype=object)

In [7]:
len(list(data.Origin.unique()))

24

Movies in this data set comes from 24 different counties/ regions.

In [8]:
data.Origin.describe()

count        33977
unique          24
top       American
freq         17272
Name: Origin, dtype: object

There seems to be no missing values for "Origin".

In [9]:
data.Origin.value_counts()

American        17272
British          3479
Bollywood        2845
Tamil            2522
Telugu           1118
Japanese         1116
Malayalam        1061
Hong Kong         751
Canadian          690
Australian        556
South_Korean      516
Chinese           452
Kannada           423
Bengali           301
Russian           229
Marathi           139
Filipino          124
Bangladeshi        87
Punjabi            81
Turkish            69
Malaysian          68
Egyptian           67
Assamese            9
Maldivian           2
Name: Origin, dtype: int64

Around 50% of the movies in this data set are from America.

# Let's clear the data for column "Director" and "Cast".

Starting by cleaning the formate of these two column.

There a a few different formats in the director column: some said : "Director: name of director" ; " name1 and name2", "name1 & name2", name1/name2" etc.  The following few blocks of code printed these formates form the data set.

In [10]:
for text in data['Director']:
    if isinstance(text, str) and ":" in text:
        print(text)
        break

Director: Obi Emelonye

In [11]:
for text in data['Director']:
    if isinstance(text, str) and " and " in text:
        print(text)
        break

Wallace McCutcheon and Edwin S. Porter

In [12]:
for text in data['Director']:
    if isinstance(text, str) and "&" in text:
        print(text)
        break

Victor Fleming & Theodore Reed

In [13]:
for text in data['Director']:
    if isinstance(text, str) and "/" in text:
        print(text)
        break

Rocky Morton/Annabel Jankel

The ones with "(...)" and "[ ... ]" are very messy and there are various of formats. Among them, three records with "(" are not closed with ")", both of them are in format: "(director"/ "(Director".

In [14]:
for text in data['Director']:
    if isinstance(text, str) and "[" in text:
        print(text)
print("\r\n")
for text in data['Director']:
    if isinstance(text, str) and "(" in text and ")" in text:
        print(text)
print("\r\n")
for text in data['Director']:
    if isinstance(text, str) and "(" in text and ")" not in text:
        print(text)

Ernst Lubitsch[19]
Farah Khan[3]


Otis Turner (unconfirmed)
W. S. Van Dyke (Best Director nominee)
Walter Lantz (producer)
Joseph Pevney (as Joe Pevney)
Kevin Yagher (as "Alan Smithee")
"Alan Smithee" (Alex Cox)
Jorge Blanco (fr)
John Lasseter, Brad Lewis (co-director)
Mark Andrews, Brenda Chapman, Steve Purcell (co-director)
Peter Ramsey, William Joyce (co-director)
Christian Ditter (de)
James Kelly (Andrea Bianchi)
Richard Claus (de)
Jeong Chang-hwa (Cheng Chang-ho)
Danny Cheng Wan-Cheung ('Scud')
Prakash, B.R. Chopra (uncredited)
Henrik Ibsen (story); K. P. Kumaran (script)
Sukumar (Bandreddi)
Cheran (director)
Manmohan Singh (director)
Venus Pictures (old)
Murugadasa (A. Muthuswami Iyer)
Acharya (T. G. Raghavanchari)
Hisashi Saitō (Chief director), Tetsuya Yanagisawa
Kimo Stamboel, Timo Tjahjanto (as the Mo Brothers)
Shigeharu Takahashi (ja), Shinji Ushiro (ja)
Yoshishige Miyake (ja)
John H. Lee (Lee Jae-han)
Chang (Yoon Hong-seung)
Beak Woon-hak (or Baek Woon-hak)
Baik (Baek Jong-yul)
Jason Kim (Kim Ju-hwan)


Sofia Coppola (director
Onat Diaz (Director
Chris Martinez (Director

Let's clean the ones with "[]" first. These seems to be citations, and can be delete directly. Then the ones with unclosed "(", then the ones with "(co-directors)", "(unconfirmed)", "(Best Director nominee)", "(de)", "(uncredited)", "(old)" ,"(Chief director)" , "(fr)", "(ja)","(script)", "(story)", "(producer)"

In [15]:
data['Director']= data['Director'].str.replace(r'\[.*\]','', regex = True)
data['Director']= data['Director'].str.replace('(director','',regex = False)
data['Director']= data['Director'].str.replace('(Director','',regex = False)
data['Director']= data['Director'].str.replace('(Chief director)','',regex = False)
data['Director']= data['Director'].str.replace('(co-director)','',regex = False)
data['Director']= data['Director'].str.replace('(co-directors)','',regex = False)
data['Director']= data['Director'].str.replace('(unconfirmed)','',regex = False)
data['Director']= data['Director'].str.replace('(Best Director nominee)','',regex = False)
data['Director']= data['Director'].str.replace('(de)','',regex = False)
data['Director']= data['Director'].str.replace('(uncredited)','',regex = False)
data['Director']= data['Director'].str.replace('(old)','',regex = False)
data['Director']= data['Director'].str.replace('(fr)','',regex = False)
data['Director']= data['Director'].str.replace('(ja)','',regex = False)
data['Director']= data['Director'].str.replace('(script)','',regex = False)
data['Director']= data['Director'].str.replace('(story)','',regex = False)
data['Director']= data['Director'].str.replace('(producer)','',regex = False)

The rest seems to be different names of the same director. Here I think we can include them into the director column.

In [16]:
data['Director']= data['Director'].str.replace(')','',regex = False)
data['Director']= data['Director'].str.replace('(as',',',regex = False)
data['Director']= data['Director'].str.replace('(or',',',regex = False)
data['Director']= data['Director'].str.replace('(',',',regex = False)

Now we can regularize the format of the rest.

In [17]:
# regularize the format of Director and seperate names using ',' 
data['Director'] = data['Director'].str.replace(' and ',' , ')
data['Director'] = data['Director'].str.replace('/',' , ')
data['Director'] = data['Director'].str.replace('&',',')
data['Director'] = data['Director'].str.replace('Director:','')
data['Director'] = data['Director'].str.replace('Directors:','')

Note that there is a special case in row 29326, which gives the author of the lyrics. We would like to clean this part as well.

In [18]:
data.loc[28748,'Director']

'B. Vittalacharya Dialogues , lyrics:Puratchidasan'

In [19]:
data.at[28748, 'Director'] = 'B. Vittalacharya Dialogues'
data.loc[28748,'Director']

'B. Vittalacharya Dialogues'

In [20]:
data.Director.describe()

count       33977
unique      12299
top       Unknown
freq         1055
Name: Director, dtype: object

In [21]:
data.Director.value_counts()

Unknown                        1055
Michael Curtiz                   79
Hanna-Barbera                    77
Lloyd Bacon                      65
Jules White                      62
                               ...
John Warrington                   1
Peter Cotes                       1
Zoltan Korda, Terence Young       1
John Dickson                      1
Ferzan Özpetek                    1
Name: Director, Length: 12299, dtype: int64

At fist it seems that there are no missing values for director, yet there are 1124 of the movies have "Unknown" as director. Let's mark "Unknown" as missing.

In [22]:
data['Director'].mask(data['Director']=='Unknown', inplace = True)
data['Director'].mask(data['Director']=='unknown', inplace = True)

In [23]:
data.Director.value_counts()

Michael Curtiz                 79
Hanna-Barbera                  77
Lloyd Bacon                    65
Jules White                    62
John Ford                      59
                               ..
John Warrington                 1
Peter Cotes                     1
Zoltan Korda, Terence Young     1
John Dickson                    1
Ferzan Özpetek                  1
Name: Director, Length: 12298, dtype: int64

Now let's work on the "Cast" column. Similar formatting issue exist for this column.

Most of the ones with "[...]" can be removed directly. except one: "[Haruma Miura]"

In [24]:
data.loc[32644,'Cast']

'[Haruma Miura]'

In [25]:
data.at[32644,'Cast'] = "Haruma Miura"
data.loc[32644,'Cast']

'Haruma Miura'

In [26]:
data['Cast']= data['Cast'].str.replace(r'\[.*\]','', regex = True)

May of them included people that are not cast in this column, and used ";" to seperate the jobs. It seems that the last group of names are cast. With a few expections that we fix in the next few rows.

In [27]:
data.loc[10691,'Cast']

"Jack Nicholson, Meryl Streep, Tom Waits, Fred Gwynne; Michael O'Keefe, Carroll Baker"

In [28]:
data.at[10691,'Cast'] = "Jack Nicholson, Meryl Streep, Tom Waits, Fred Gwynne, Michael O'Keefe, Carroll Baker"
data.loc[10691,'Cast']

"Jack Nicholson, Meryl Streep, Tom Waits, Fred Gwynne, Michael O'Keefe, Carroll Baker"

In [29]:
data.loc[15803 ,'Cast']

'After a vicious attack leaves him brain-damaged and broke; Mark Hogancamp seeks recovery in "Marwencol" a 1/6th scale World War II-era town he creates in his backyard.'

In [30]:
data.at[15803 ,'Cast'] = 'unknown'
data.loc[15803 ,'Cast']

'unknown'

In [31]:
data.loc[21703, 'Cast']

'Nadia Litz; narrated by Maurice Dean Wint'

In [32]:
data.at[21703, 'Cast'] = 'Nadia Litz'
data.loc[21703, 'Cast']

'Nadia Litz'

In [33]:
data.loc[22014,'Cast']

'voices Tara Strong, Ashleigh Ball; Andrea Libman'

In [34]:
data.at[22014,'Cast'] = 'Andrea Libman'
data.loc[22014,'Cast']

'Andrea Libman'

Now try to remove the text before the last ";" and the ones with "(...)".

In [35]:
data['Cast']= data['Cast'].str.replace(r'(?s)^.*;','', regex = True)

In [36]:
data['Cast']= data['Cast'].str.replace(r'\(.*\)','', regex = True)

In [37]:
data.loc[33648,'Cast']

"Kangta, BoA, TVXQ, Super Junior, Girls' Generation, Shinee, f"

In [38]:
data.at[33648,'Cast'] = "Kangta, BoA, TVXQ, Super Junior, Girls' Generation, Shinee, f(x)"
data.loc[33648,'Cast']

"Kangta, BoA, TVXQ, Super Junior, Girls' Generation, Shinee, f(x)"

In [39]:
for text in data['Cast']:
    if isinstance(text, str) and ":" in text:
        if "Cast" not in text and "\r\n" not in text :
            print(text + ";")

Director: Simon Horrocks;
Director: Iain Forsyth, Jane Pollard;

In [40]:
data.loc[20975,'Cast']

'Director: Simon Horrocks'

In [41]:
data.at[20975,'Cast'] = "unknown"
data.loc[20975,'Cast']

'unknown'

In [42]:
data.loc[21176,'Cast']

'Director: Iain Forsyth, Jane Pollard'

In [43]:
data.at[21176,'Cast'] = 'unknown'
data.loc[21176,'Cast']

'unknown'

In [44]:
data['Cast'] = data['Cast'].str.replace(r'Director:.*\n',"",regex = True)
data['Cast'] = data['Cast'].str.replace(r'Directors:.*\n',"",regex = True)
data['Cast'] = data['Cast'].str.replace('Cast:',"",regex = False)
data['Cast'] = data['Cast'].str.replace('\r\n',",",regex = False)
data['Cast'] = data['Cast'].str.replace(',,',",",regex = False)
data['Cast'] = data['Cast'].str.replace(' and ',',')
data['Cast'] = data['Cast'].str.replace('&',',')
data['Cast'] = data['Cast'].str.replace('/',',')
data['Cast'] = data['Cast'].str.replace('\r\n',',')

In [45]:
data.Cast.describe()

count         32634
unique        31464
top       Tom,Jerry
freq             80
Name: Cast, dtype: object

In [46]:
data.Cast.value_counts()

Tom,Jerry                                                    80
Three Stooges                                                55
The Three Stooges                                            47
Looney Tunes                                                 37
Bugs Bunny                                                   36
                                                             ..
Vincent Spano, Chris Cooper, Joe Morton, Angela Bassett       1
Vicki Frederick, Billy Bob Thornton                           1
Brad Dourif, Justin Whalin, Perrey Reeves                     1
Ami Dolenz, Karen Black                                       1
Halit Ergenç, Tuba Büyüküstün, Mehmet Günsür, Nejat İşler     1
Name: Cast, Length: 31464, dtype: int64

In [47]:
data['Cast'].mask(data['Cast']=='Unknown', inplace = True)
data['Cast'].mask(data['Cast']=='unknown', inplace = True)

In [48]:
data.Cast.value_counts()

Tom,Jerry                                                                                80
Three Stooges                                                                            55
The Three Stooges                                                                        47
Looney Tunes                                                                             37
Bugs Bunny                                                                               36
                                                                                         ..
Billy Crystal, Daniel Stern, Bruno Kirby, Patricia Wettig, Helen Slater, Jack Palance     1
Vincent Spano, Chris Cooper, Joe Morton, Angela Bassett                                   1
Vicki Frederick, Billy Bob Thornton                                                       1
Brad Dourif, Justin Whalin, Perrey Reeves                                                 1
Halit Ergenç, Tuba Büyüküstün, Mehmet Günsür, Nejat İşler                                 1
Name: Cast, Length: 31462, dtype: int64

There are 34886 - 31504 = 3382 missing values for Cast, and there are a lot fewer replications for casts.

In [49]:
from pathlib import Path  
filepath = Path('../Data/wiki_plots_with_genres_c2.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
data.to_csv(filepath)