In this notebook we will merge the movie revenue from the CMU data set to the Kaggle dataset, and use it as a way to estimate how popualr the movie is. 
The CMU dataset: http://www.cs.cmu.edu/~ark/personas/ have more information than just movie revenue, but we will be focus on movie revenue only.

In [1]:
import pandas as pd
import numpy as np

In [2]:
cmu_data = pd.read_csv('../Data/cmu_movie_boxoffice.tsv', sep = '\t', header = None)
cmu_data = cmu_data.drop(columns = [0,1,5,6,7,8])
cmu_data = cmu_data.dropna()
cmu_data = cmu_data.rename(columns={2:"Title", 3:"Release Year", 4:"Revenue"})
cmu_data["Release Year"] = cmu_data["Release Year"].str.replace(r'-.*','',regex = True)
cmu_data["Release Year"] = cmu_data["Release Year"].astype('int64')
cmu_data.head()

                       Title  Release Year      Revenue
0             Ghosts of Mars          2001   14010832.0
7   Alexander's Ragtime Band          1938    3600000.0
13                   Henry V          1989   10161099.0
17              Mary Poppins          1964  102272727.0
21            New Rose Hotel          1999      21521.0

In [3]:
data = pd.read_csv('../Data/wiki_movie_plots_deduped_c2.csv')
data = data.merge(cmu_data, how = 'left', on = ['Title', 'Release Year'])
data = data.drop(columns='Unnamed: 0')
len(data['Revenue'].unique())

5161

In [4]:
from pathlib import Path  
filepath = Path('../Data/wiki_movie_plots_deduped_c2.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
data.to_csv(filepath)