In [13]:
import pandas as pd
import numpy as np

In [14]:
movie_data= pd.read_csv('../Data/movies_metadata.csv')

/var/folders/3l/cr7__h091lqdwb3svwxf1ty00000gn/T/ipykernel_52733/2061139703.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movie_data= pd.read_csv('../Data/movies_metadata.csv')

In [15]:
list(movie_data.columns.values)

['adult',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count']

In [16]:
movie_data = movie_data.drop(columns = ['adult',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'original_language',
 'original_title',
 'poster_path',
 'production_companies',
 'production_countries',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'video',
 'vote_average',
 'vote_count'])

In [17]:
movie_data.head()

,imdb_id,overview,popularity,release_date,revenue,title
0,tt0114709,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,Toy Story
1,tt0113497,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,Jumanji
2,tt0113228,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,Grumpier Old Men
3,tt0114885,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,Waiting to Exhale
4,tt0113041,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,Father of the Bride Part II

In [18]:
type(movie_data.loc[0,'release_date'])

str

In [19]:
movie_data = movie_data.dropna()
movie_data = movie_data.rename(columns={'title':"Title", "release_date":"Release Year", 'revenue':"Revenue_new"})
movie_data["Release Year"] = movie_data["Release Year"].str.replace(r'-.*','',regex = True)
movie_data["Release Year"] = movie_data["Release Year"].astype('int64')

In [20]:
movie_data.head()

,imdb_id,overview,popularity,Release Year,Revenue_new,Title
0,tt0114709,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995,373554033.0,Toy Story
1,tt0113497,When siblings Judy and Peter discover an encha...,17.015539,1995,262797249.0,Jumanji
2,tt0113228,A family wedding reignites the ancient feud be...,11.7129,1995,0.0,Grumpier Old Men
3,tt0114885,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995,81452156.0,Waiting to Exhale
4,tt0113041,Just when George Banks has recovered from his ...,8.387519,1995,76578911.0,Father of the Bride Part II

In [21]:
data = pd.read_csv('../Data/wiki_movie_plots_deduped_c2.csv')
data = data.merge(movie_data, how = 'left', on = ['Title', 'Release Year'])
data = data.drop(columns='Unnamed: 0')
len(data['Revenue_new'].unique())

4672

In [22]:
len(data['imdb_id'].unique())

14327

In [23]:
data.head()

,Release Year,Title,Origin,Director,Cast,Genre,Wiki Page,Plot,Revenue,imdb_id,overview,popularity,Revenue_new
0,1901,Kansas Saloon Smashers,American,NaN,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr...",NaN,NaN,NaN,NaN,NaN
1,1901,Love by the Light of the Moon,American,NaN,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov...",NaN,NaN,NaN,NaN,NaN
2,1901,The Martyred Presidents,American,NaN,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed...",NaN,NaN,NaN,NaN,NaN
3,1901,"Terrible Teddy, the Grizzly King",American,NaN,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...,NaN,NaN,NaN,NaN,NaN
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...,NaN,tt0000399,Porter's sequential continuity editing links s...,0.205349,0.0

In [24]:
from pathlib import Path  
filepath = Path('../Data/wiki_movie_plots_deduped_c2.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
data.to_csv(filepath)

Revenue_new and Revenue are  gathered from two different data sets. So they may be different. When Revenue = 0, it may be missing actually.